@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.l-mainContent {
  width: 100vw;
  padding-top: 81px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    background: var.$gray-main;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;

    @include mixin.mq('pc') {
      margin-left: 280px;
  
    }
  }

  @include mixin.mq('tab') {
    padding-top: 110px;

  }

  @include mixin.mq('pc') {
    margin-left: 280px;
    padding-top: 0;
   
  }
 
}

.l-mainContent__content {
  max-width: 90%;
  margin: 5% auto;

  @include mixin.mq('tab') {
    display: flex;
}
  
}