@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-blogTitle {
  display: block;

  a {
    display: block;
    font-family: var.$ff-Lato;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 5px 7px 5px 0;
    line-height: 150%;
    font-weight: 700;
    color: var.$black;
    text-decoration: none;

    @include mixin.mq('pc') {
      padding: 9px 13px 9px 0;

    }
  }
}