@use "./global/variables" as var;
@use "./global/mixin" as mixin;

.c-pageTitle {
  border-bottom: 2px solid var.$gray-border;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 10px;
  color: var.$gray-title;
  font-size: 24px;

}